* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #aaf456;
  --primary-dark: #3c3799;
  --grey-light: #f1f5f9;
  --grey: #a9afb7;
  --grey-dark: #0f172a;
  --fluid-width: 90vw;
  --max-width: 1170px;
  --black: #222;
  --white: #fff;
  --letter-spacing: 2px;
  --border-radius: 0.15rem;
  --shadow-light: 0 5px 15px rgba(167, 139, 139, 0.63);
  --shadow-dark: 0 5px 15px rgb(68, 57, 57);
  --transition: 0.3s ease-in-out all;
}

body {
  line-height: 1.5rem;
}

.grid {
  display: grid;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  color: black;
  padding: 1rem;
}

header {
  background-color: tan;
  padding: 1rem;
  text-align: center;
  letter-spacing: var(--letter-spacing)
}

nav {
  background-color: skyblue;
  height: fit-content;
}

ul {
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing);
}



article {
  padding: 0.7rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  word-wrap: break-word;
}

.contact {
  color: #aaf456;
  background-color: #3c3799;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 1rem;
  position: relative;
}

footer p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  ul {
    display: flex;
  }

  .grid {}
}