* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
} */
a {
  text-decoration: none;
}
li {
  list-style: none;
  /* height: auto; */
  padding: 1rem;
}
.grid {
  height: 100vh;
  display: grid;
}

.header {
  background-color: teal;
  padding: 0.4em;
  font-size: 3rem;
  font-weight: bold;
  color: snow;
  text-align: center;
}

.nav {
  background-color: skyblue;
  font-size: 1.5rem;
}

p {
  background-color: antiquewhite;
  height: 100%;
  font-size: 1.3rem;
  padding: 1em;
  line-height: 1.7;
  font-family: monospace;
}

.sideBar {
  background-color: olive;
  font-size: 1.5rem;
  color: greenyellow;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.footer {
  background-color: black;
  color: tomato;
  font-size: 1.2rem;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem;
}

.btnA {
  margin: 2rem;
}
.btn {
  border-style: none;
  background-color: teal;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 8fr 1fr 1fr;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    padding: 0.5em;
  }

  .footer {
    padding: 1.7rem;
  }
}

@media screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 6fr 0.5fr;
    grid-template-rows: 0.5fr 6fr 0.5fr;
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-items: center; */
  }
  .header {
    grid-column: 1 /4;
    grid-row: 1/2;
  }
  .nav {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  article {
    grid-column: 2/2;
    grid-row: 2/3;
  }
  p {
    height: 100%;
  }
  .sideBar {
    grid-column: 3/3;
    grid-row: 2/3;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    grid-column: 1/4;
  }
  li {
    /* border: solid red 1.3px; */
    margin: 3rem auto;
  }
  ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
