<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/hero.css" />
    <title>Hero</title>
  </head>
  <body>
    <div class="hero">
      <div class="grid">
        <h1>Welcome To Grid</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
          explicabo facere fugit repellat. Fuga incidunt non dolore voluptates
          laboriosam explicabo quisquam? Explicabo optio eaque ipsa cum
          voluptates, adipisci dolores porro!
        </p>
      </div>
    </div>
    <button>
      <a href="../index.html">Back To Home</a>
    </button>
  </body>
</html>
