<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/tiles.css" />
    <title>Tiles</title>
  </head>

  <body>
    <div class="h1">
      <h1>Tiles Layout</h1>
    </div>
    <div class="grid">
      <div class="img-1 image">
        <img src="../photos/jay-1280.jpg" alt="" />
      </div>
      <div class="img-2 image">
        <img src="../photos/snow-640.jpg" alt="" />
      </div>
      <div class="img-3 image">
        <img src="../photos/car-1920.jpg" alt="" />
      </div>
      <div class="img-4 image">
        <img src="../photos/space-911785_1920.jpg" alt="" />
      </div>
      <div class="img-5 image">
        <img src="../photos/living-room-640.jpg" alt="" />
      </div>
      <div class="img-6 image">
        <img src="../photos/tigers-1920.jpg" alt="" />
      </div>
      <div class="img-7 image">
        <img src="../photos/garden-640.jpg" alt="" />
      </div>
      <div class="img-8 image">
        <img src="../photos/flora-640.jpg" alt="" />
      </div>
      <div class="img-9 image">
        <img src="../photos/library-640.jpg" alt="" />
      </div>
    </div>
    <button class="btn">
      <a href="../index.html">Back To Home</a>
    </button>
  </body>
</html>
